      <h2>User info</h2>
       <% if user.present? %> 
        <% if user.profile_image.attached? %>
          <%= image_tag user.profile_image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "100x100" %>
        <% end %>
       <% end %>
     
      <table class="table">
       <tbody> 
         <tr>
           <th>name</th>
           <th><%= user.name %></th>
         </tr>
         <tr>
           <th>introduction</th>
           <th><%= user.introduction %></th>
           </tr>
       </tbody>
     </table>
    <div class="row justify-content-center">
     <%= link_to(user == current_user ? edit_user_path(user) : user_path(current_user), 
                class: "btn btn-link btn-outline-secondary d-flex align-items-center justify-content-center",
                style: "width: 250px") do %>
        <i class="fa-solid fa-user-gear"></i>
     <% end %>
    </div>
    
    