<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>Users info</h2>
        <%= form_with model: @user do |f| %>

         <div class="form-group">
           <label for="inputName">Name</label>
             <%= f.text_field :name, autofocus: true %>
         </div>
         <div class="form-group">
           <label for="inputImage">Image</label>
             <%= f.file_field :profile_image, accept: "image/*" %>
         </div>
         <div class="form-group">
           <label for="inputIntrodution">Introduction</label>
             <%= f.text_field :introduction %>
         </div>
         <div class="form-group">
           <%= f.submit "Update User" %>
         </div>
       <% end %>
    </div>
  </div>
</div>