<div>
 <%= flash[:notice] %>
</div>


<%= render 'list', user: @user %>
<%= render 'books/list', book: @new_book %>



<div class="col-md-8">
  <h2>books</h2> 
    <table class="table table-hover table-inverse">
      <thead>
       <tr> 
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
       </tr>
      </thead>
      
      <tbody>  
       <% @book.each do |book| %>
        <tr>
         <td>
          <% if @user.profile_image.attached? %>
           <%= image_tag @user.profile_image, size: "100x100" %>
          <% else %>
           <%= image_tag 'no_image.jpg', size: "100x100" %>
          <% end %>
         </td>
         <td><%= link_to @book.title, book_path(@book.id) %></td>
         <td><%= @book.body %></td>
        </tr>     
       <% end %>    
      </tbody>
    </table>
</div>

